/* General setup */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; Prevent scrolling */
}

html {
  font-size: 10px;
}

body {
  width: calc(100% - 40px); /* Adjust width to create wider margins */
  padding: 50px; /* Uniform padding for all sides */
  min-width: 760px;
  box-sizing: border-box;
  height: calc(100% - 40px); /*Adjust height to fit within the window */
  margin: 20px; /* Create margins around the page */
  background-color: #212121;
}

/* typography */

#circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  color: lightblue
}


h1, h2, h3 {
  font-family: 'Segoe UI';
  color: white;
}

p, input, li {
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 20px 0; /* Added margin for spacing */
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0; /* Added margin for spacing */
}

h3 {
  font-size: 2.2rem;
  margin: 10px 0; /* Added margin for spacing */
}

p, li {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 10px 0; /* Added margin for spacing */
}

/* header layout */

header {
  display: flex;
  flex-flow: row wrap;
}

main, header, nav, article, aside, footer, section {
  background-color: #212121;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

h2 {
  text-align: left;
}

.image-container {
  padding-top: 20.15px;
  text-align: center;
}

.image-container img {
  height: 400px;
  margin: 30px;
}

.profile-container {
  padding-top: 20.15px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-right: 150px;
}

.profile-container img {
  border-radius: 50%;
  margin-left: 150px;
  margin-right: 100px; /* Adjust the margin as needed */
  max-width: 500px; /* Set a max width for the image */
  height: auto; /* Maintain aspect ratio */
}

img {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  overflow: hidden; /* Prevent scrolling */
  height: calc(100% - 20px); /*Adjust height to fit within the window */
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
  padding: 20px; /* Adjusted padding */
}

nav a, nav span {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: lowercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* main layout */

main {
  display: flex;
  flex: 1;
  flex-direction: column; /* Adjust flex direction if necessary */
}

article, section {
  flex: 4;
  margin: 10px; /* Added margin for spacing */
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
  margin: 10px; /* Added margin for spacing */
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  font-family: 'Segoe UI';
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
}

thead, tfoot {
  background-color: #212121;
  color: white;
}

th, td {
  padding: 8px 10px;
}

td:last-of-type {
  text-align: left;
}

tbody > tr:nth-of-type(even) {
  background-color: #212121;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

footer {
  margin-top: 20px; /* Increased margin for more spacing */
  padding: 20px; /* Added padding for spacing */
}
